.about {
  background-color: $color-1;
  &__inner {
    min-height: 300px;
  }
  &__title {
    color: $color-2;
  }
  &__text {
    text-align: center;
  }
  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {
    color: $color-3;
    &:hover {
      text-decoration: underline;
    }
  }
}
