.button {
  height: 48px;
  padding: 0 8px;
  border-radius: 5px;
  border: 2px solid $color-2;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: $color-2;
  cursor: pointer;
  transition: background-color .2s ease,
              color .2s ease;
  svg {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    fill: #fff;
    transition: fill .2s ease;
  }
  &:hover {
    color: $color-1;
    background-color: #fff;
    svg {
      fill: $color-1;
    }
  }
}
