.footer {
  background-color: $color-1;
  &__inner {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $res-small) {
      height: 64px;
    }
  }
  &__copyright {
    color: $color-2;
  }
}
