.header {
  background-color: $color-1;
  &__inner {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__nav {
    height: 100%;

  }
  &__options {
    height: 100%;
  }
}
