.header {
  background-color: $color-1;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  &__inner {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__nav {
    height: 100%;
  }
  &__options {
    height: 100%;
  }
}
