.projects {
  &__inner {
    min-height: 600px;
  }
  &__title {
    color: $color-1;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $res-medium) {
      align-items: center;
      flex-direction: column;
    }
  }
  &__item {
    background-color: $color-1;
    height: 320px;
    width: 100%;
    margin-bottom: 16px;
    max-width: calc(50% - 16px);
    @media (max-width: $res-medium) {
      max-width: 720px;
    }
  }
}
