.welcome {
  background-color: $color-4;
  padding-top: 88px;
  @media (max-width: $res-small) {
    padding-top: 64px;
  }
  &__inner {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $res-medium) {
      min-height: 400px;
    }
  }
  &__title {
    color: $color-2;
    margin-bottom: 16px;
  }
  &__sub-title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 16px;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
